# Dependencies
node_modules/
package-lock.json
bun.lock

# Build outputs
.next/
out/
build/
dist/

# Foundry
cache/
out/
broadcast/

# Circom
*.r1cs
*.wasm
*.sym
*.zkey
*.vkey
*.wtns
packages/circuits/build/
packages/circuits/contracts/

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/
.nyc_output/

# Misc
.cache/
*.tsbuildinfo

packages/contracts/lib

pot16_0000.ptau
pot16_0001.ptau
pot16_final.ptau

deposit_verification_key.json
transfer_verification_key.json
withdraw_verification_key.json