[submodule "packages/contracts/lib/openzeppelin-contracts"]
	path = packages/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/contracts/lib/pyth-sdk-solidity"]
	path = packages/contracts/lib/pyth-sdk-solidity
	url = https://github.com/pyth-network/pyth-sdk-solidity
